img{
    max-width: 100%;
    height: auto;
    filter: drop-shadow(5px, 0, 3px rgba(0,0,0, 0.05));
}

.container{
    filter: drop-shadow(5px, 0, 3px rgba(0,0,0, 0.05));

}


/* Adjust the tab links */
.nav-tabs {
    display: flex;
    position: relative;
    margin-top:20px;
    padding: 10px, 0;
    width: 100%;
    background-color: lightgray;
    padding: 10px 0;
  }

  .nav-item{
    display: flex;
    text-align: center;
    width: 10%;
  }
  
  
  
  .nav-link.active {
    color: blue;
  }
/* Add this CSS to your existing stylesheet or component-specific CSS file */
/* Adjust the tab links */
  
  .nav-link {
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
    transition: color 0.3s ease;
    text-align: left;
  }
  
  .nav-link.active {
    color: blue;
  }
  
  .nav-indicator {
    position: absolute;
    bottom: 0;
    height: 3px;
    background-color: blue;
    transition: width 0.3s ease, left 0.3s ease;
    width: 16%;
   
  }
  
  /* ... rest of your CSS */
  

/* Add this CSS to your existing stylesheet or component-specific CSS file */
.tab-content {
    position: relative;
    height: auto;
  }
  .about-info {
    background-color: lavender;
    padding: 20px;
  }
  
  .tab-pane {
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .tab-pane.show.active {
    opacity: 1;
    transform: translateX(0);
  }
  
  .profile-head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
  }
  .card-link{
    text-decoration: none;
  }
  .profile-info {
    margin-bottom: 20px;
  }

  .btn1 {
    background: #7c5dfa;
    padding: 7px 25px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 0.9rem;
    border-radius: 5px;
    cursor: pointer;
  }

  /* clear later */

  /* .col-md-4 {
    background-color: lightblue;
  } */
  
  /* Color the middle column */
  /* .col-md-6 {
    background-color: lightgreen;
  } */
  
  /* Color the right column */
  /* .col-md-2 {
    background-color: lightcoral;
  } */