# Ignore system files and directories
.DS_Store
Thumbs.db

# Ignore Node.js dependencies (if applicable)
node_modules/

# Ignore build artifacts and logs
build/
logs/

# Ignore compiled binaries
*.exe
*.o

# Exclude large files or directories
project-frontend/schmgt_ui/node_modules/.cache/default-development/

